.map-container{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe{
    left: 0;
    top: 5px;
    height: 85%;
    width: 100%;
    position: absolute;
}