<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <link href="{{url_for('static', path='css/map.css?a')}}" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="nofoobar.com" content="Nofoobar">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script> 
    <style>
        #map {position: absolute; width: 100%; height: 95%;}
    </style>
    {% block title %}
    {% endblock %}
</head>

<body>
    {% include "/navbar.html" %}
    {% block content %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock %}

    <div class="map-container">
        <div id="map"></div>
        <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4M29iazA2Z2gycXA4N2pmbDZmangifQ.-g_vE53SD2WrJ6tFX7QHmA';
            const map = new mapboxgl.Map({
                container: 'map', // container ID
                style: 'mapbox://styles/mapbox/streets-v11', // style URL
                center: [-74.5, 40], // starting position [lng, lat]
                zoom: 9 // starting zoom
            });

            // disable map zoom when using scroll   
            map.scrollZoom.disable();
        </script>
    </div>

    <h2>Images</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"># of people</th>
                    <th scope="col">Time</th>
                    <th scope="col">Location</th>
                    <th scope="col">View</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>placeholder</td>
                    <td>placeholder</td>
                    <td>placeholder</td>
                    <td>
                        <button id="show">View</button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>placeholder</td>
                    <td>placeholder</td>
                    <td>placeholder</td>
                    <td>
                        <button id="show">View</button>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>placeholder</td>
                    <td>placeholder</td>
                    <td>placeholder</td>
                    <td>
                        <button id="show">View</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="background">
        <div class="window">
            <div class="popup">
                <button id="close">close</button>
            </div>
            <div>
                <div></div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{url_for('static', path='js/test.js?a')}}"></script>
</body>